header{
    h1 span{
        background:linear-gradient(to right , rgb(73, 130, 234) , rgb(56, 126, 176) , rgb(207, 149, 87)); 
        background-clip: text;
        color: transparent;

    }
    h2{
        background: linear-gradient(to right, #3b82f6  ,#06b6d4) !important;
        background-clip: text !important;
        color: transparent !important;
        font-family: var(--main-font );
        overflow: hidden;
        border-right: 2px solid #fff;
        animation: typing-text steps(40) 3s infinite, blink ease .3s infinite;
        text-wrap: nowrap;
        display: inline-block;
        width: -moz-max-content;
        width: max-content;
        width: 0;
    }

    button{
        background: linear-gradient(to right, #3b82f6  ,#06b6d4) !important ; 
        border: none;

        .ic{
            animation: moveIcon 3s ease-in-out infinite;
        }

        &:hover{
            background: linear-gradient(to right , #2a5eb2  , #058fa7) !important;
        }
    }
    
    .image {
        width: 250px;
        height: 250px;
        border-radius: 50%;
        outline: 10px solid var(--main_color) ;
        animation: move 3s linear infinite;
        box-shadow: 2px 2px 20px 10px rgb(194, 156, 85);
        img{
            border-radius: 50%;
            width: 100%;
            height: 100%;
        }
    }
    .icon a 
    {
        .fa-linkedin:hover{
            color: #0674d4 !important;
            transition: 1.1s;
        }
        .fa-github:hover{
            color: #d47406 !important;
            transition: 1.1s;
        }
    }
}

@keyframes typing-text {
    0% {
        width: 0%;
    }
    100% {
        width: 350px;
        border-color: transparent;
    }
}

@keyframes move {
    0%{
        transform: translateY(10px);
    }
    50%{
        transform: translate(0px);
    }
    100%{
        transform: translateY(10px);
    }
}
@keyframes moveIcon {
    0%{
        transform: translateY(3px);
    }
    50%{
        transform: translateY(-2px);
    }
    100%{
        transform: translateY(3px);
    }
}