@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&display=swap');
.sub_title{
    font-size: 40px;
    font-family: "Fredericka the Great", serif;
    color: rgb(18, 103, 156) ;
    animation: moving 3s linear infinite ;
}
.App{
    margin: auto;
    text-align: center;
    background-color: rgb(39, 44, 48) ; 
}

main{
    width: 90%;
    margin: auto;
    text-align: center;
}
